*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: system-ui, -apple-system, sans-serif;
}

body{
background:#f2f3f5;
display:flex;
justify-content:center;
}

.app{
width:100%;
max-width:420px;
min-height:100vh;
background:#f2f3f5;
}

/* TOPBAR */
.topbar{
position:fixed;
top:0;
left:0;
right:0;
height:80px;
background:#1466ff;
display:flex;
align-items:center;
padding:0 15px;
color:white;
max-width:420px;
margin:auto;
z-index:1000;
}

.topbar h2{
font-size:21px;
font-weight:500;
margin-right: auto;

}

/* ICON BUTTONS */
.back-btn{
text-decoration:none;
color:white;
width:40px;
height:40px;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
border:2px solid white;
transition:0.3s;
margin-right: 20px;
}

/* ICON SIZE */
.back-btn i{
font-size:24px;
text-align: center;
transition:0.3s;
}
.fi{
width: 50px;        /* PERFECT SIZE */
height: 50px; 
}

/* 🔥 HOVER FIX (IMPORTANT) */
.back-btn:hover,
.filter-icon:hover{
background:white;
}

/* CHANGE ICON COLOR ON HOVER */
.back-btn:hover i,
.filter-icon:hover i{
color:#1e6ae1;
}

/* ✅ ACTIVE (ADDED ONLY) */
.tab.active{
    width: 80px;
background:#ffffff;
}

.tab.active p{
color:#1e6ae1;
}
/* RESPONSIVE */
@media (max-width:360px){
.tab{ font-size:11px; }
.ticket-icon{ width:20px; }
}