*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Bahnschrift Light', sans-serif;
}

body{
background:white;
display:flex;
justify-content:center;
}

.app{
width:100%;
max-width:420px;
min-height:100vh;
background:white;
}

/* TOP BAR */
.topbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
position:fixed;
top:0;
left:0;
right:0;
background:white;
z-index:1000;
width:100%;
height:50px;
max-width:420px;
margin:auto;
border-radius: 25px 25px 25px 25px;
}

.custom-icon1{
width: 42px;        /* PERFECT SIZE */
height: 40px;       /* PERFECT SIZE */
}

.logo{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}

/* LOGO IMAGE SIZE */
.logo img{
    height: 45px;   /* adjust if needed */
    object-fit:contain;
}



.badge{
position:absolute;
top:-4px;
right:-4px;
background:red;
color:white;
width:18px;
height:18px;
border-radius:50%;
font-size:11px;
display:flex;
align-items:center;
justify-content:center;
}

.hello{
padding:0  16px;
margin-top:90px;
color:#1a3a7a;
font-size:10px;
font-weight:450;
}

/* SECTION TITLE */
.section-title{
font-size:15px;
font-weight:700;
color:#1a3a7a;
margin: 2px 2px 2px;
}

/* GRID */
.offer-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px 10px;
padding:0 12px;
}

/* ITEM-P */
.offer-item{
text-align:center;
font-size:12px;
color:#23376b;
font-weight:
}

/* IMAGE ICON (FIXED SIZE) */
.custom-icon{
width: 75px;        /* PERFECT SIZE */
height: 80px;       /* PERFECT SIZE */
object-fit:contain;
}

/* HEADINGS */
h2{
padding:13px;
color:#1a3a7a;
font-size: 15px;
}

/* JOURNEY */
.planner{
display:flex;
gap:12px;
padding:0 10px;
width: 100%;
}

.plan{
text-align:center;
}

.plan img{
width:123px;
height:103px;
border-radius:18px;
object-fit:cover;
}
.plan p{
font-size:14px;
color:#1a3a7a;
font-weight:300;
}



/* GRID */
.grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:14px;
padding:0 15px;
}

.item{
text-align:center;
border-radius:16px;
padding:14px 5px;
font-size:12px;
}

/* FACTS */
.facts{
display:flex;
gap: 4px;
overflow-x:auto;
padding:0 15px;
}

.fact{
min-width:185px;
}

.fact img{
width:175px;
height:150px;
border-radius:16px;
}

.fact p{
font-size:13px;
margin-top:8px;
color:#3b4a7a;
align-items: center;
}

/* SOCIAL */
.social-h{
    margin-top: 40px;
    padding:17px;
    color:#1a3a7a;
    font-size: 19px;
}
.social{
padding:15px;
}

.social img{
width:100%;
border-radius:20px;
margin-bottom: 70px;
}

/* BOTTOM NAV */
.bottomnav{
position:fixed;
bottom:0;
min-width: 422px;
background:#1466ff;
display:flex;
justify-content:space-around;
padding:10px 0;
color:white;
}

.nlogo{
width: 35px;        /* PERFECT SIZE */
height: 25px;       /* PERFECT SIZE */
}

.nav{
text-align:center;
font-size:10px;
text-decoration: none;
color:lightblue;
}

.nav i{
font-size:24px;
}