/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bahnschrift', sans-serif;
}

body {
    background: #f3f4f6;
    display: flex;
    justify-content: center;
    font-family: 'Bahnschrift', sans-serif;
}

/* APP WIDTH */
.app {
    width: 100%;
    max-width: 420px;
    background: #f3f4f6;
    min-height: 100vh;
}

/* HEADER */
.header {
    background: #1466ff;
    color: white;
    padding: 18px 16px 20px 16px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
}

.back {
    width: 42px;
    height: 42px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.back-btn i {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 2px;
}

.fi2{
width: 71px;        /* PERFECT SIZE */
height: 71px;
margin-top: 6px;
text-decoration: none;
}

.title {
    font-size: 17px;
    font-weight: 500;
    margin-left: 12px;
}

.mobile {
    font-size: 10px;
    opacity: 0.9;
    margin-top: 3px;
    margin-left: 12px;
}

.share {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.share svg {
    width: 22px;
    height: 22px;
    color: white;
    font-weight: bold;
}

/* MESSAGE */
.msg {
    background: white;
    padding: 12px 16px;
    font-size: 12px;
    font-weight:300;
    color: grey;
}

/* DYNAMIC */
.dynamic {
    background: #0d0d0d;
    margin: 14px;
    border-radius: 16px 16px 0 0;
    padding: 22px;
    color: white;
    text-align: center;
    position: relative;
    animation: glow 2.5s infinite alternate;
    margin-bottom: -11px;
    overflow: hidden;
    /* important */
}

/* TOP PURPLE LINE */
.dynamic::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background: #8a7af1;
}

.dynamic::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;

    background: linear-gradient(90deg,
#8a7af1 0%,
        #8a7af1 50%,   /* only 10% fill */
        white 50%,
        white 100%)
}

.div {
    font-size: 16px;
    margin-top: 8px;
    color:white;
        letter-spacing: 1px;
}

/* TIMER CONTAINER */
.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 700;
    color: #ff3b30;
    gap: 6px;
    margin-top: 8px;
}

.tb{
font-size: 12px;
color:gray;
margin-top: 5px;
}

/* digit container */
.digit {
    height: 55px;
    overflow: hidden;
    position: relative;
}

/* inner scroll */
.digit-inner {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
}

/* each number */
.num {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking-time {
    font-size: 24px;
    font-weight:450;
    color: #ff9c00;
    margin: 6px 0;
    letter-spacing: 1px;
}

.sort{
font-size:11px;
margin-top:6px;
color:rgb(249, 242, 228);
font-weight:300;
letter-spacing: 1px;
}

.sort1{
font-size:11px;
margin-top:1px;
color:rgb(249, 242, 228);
font-weight:300;
letter-spacing: 1px;
}
/* COMMON STYLE */
.rail-left,
.rail-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);

    letter-spacing: 2px;
    opacity: 0.8;
    color: rgb(169, 169, 169);

    /* Center text properly */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    /* Full length line */
    width: 240px;
}

/* LEFT SIDE */
.rail-left {
    left: -100px;
    padding-bottom: 6px;
    font-weight: bold;
    font-size: 13px;

    /* REMOVE default border */
    border-bottom: none;

    /* CUSTOM DASHED LINE */
    background: repeating-linear-gradient(
        to right,
        #ddd 0px,
        #ddd 10px,        /* dash size */
        transparent 6px,
        transparent 12px /* gap */
    );
    background-size: 90.5% 1.5px; /* thin line */
    background-position: left bottom ;
    background-repeat: no-repeat;
}

/* RIGHT SIDE */
.rail-right {
    right: -100px;
    padding-top: 6px;
    font-weight: bold;
    font-size: 16px;

    /* REMOVE default border */
    border-top: none;

    /* CUSTOM DASHED LINE */
    background: repeating-linear-gradient(
        to right,
        #ddd 0px,
        #ddd 10px,
        transparent 6px,
        transparent 12px
    );
    background-size: 90.5% 1.5px; /* thin line */
    background-position: left top;
    background-repeat: no-repeat;
}

/* TICKET */
.ticket {
    background: white;
    margin: 15px;
    padding: 1px;
    border-radius: 0 0 22px 22px;
    position: relative;
}

.ticket::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background: #c896f7;
}

.ticket:before,
.ticket:after {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    background: #f3f4f6;
    border-radius: 50%;
    top: 82.5%;
    transform: translateY(-50%);
}

.ticket:before {
    left: -16px;
}

.ticket:after {
    right: -16px;
}

/* BOTTOM STRIP */
.bottom-strip {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background:  #8a7af1;
    border-radius: 0 0 22px 22px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 15px 10px;
}

.t {
    font-size: 15px;
    padding: -10px;
    margin-bottom: 12px;
}

.tid {
    font-size: 14px;
    font-weight: 490;
    margin-bottom: 12px;
}

.station {
    color: black;
    font-size: 14px;
    text-align: right;
}

.center {
    color: #888;
    font-size: 11px;
}

.label {
    color: #777;
    font-size: 14px;
}

.label2 {
    color: #777;
    font-size: 14px;
    text-align: right;
}

.label3 {
    color: black;
    font-size: 14px;
    text-align: left;
}

.price p{
    margin-top: 0px;
    margin-left: 10px;
    font-size: 12.5px;
    font-weight: 400;
}

.passenger {
    border-top: 1px dashed #ddd;
    margin-top: 14px;
    padding-top: 14px;
}

.valid {
    font-size: 11px;
    color: #777;
    margin-left: 10px;text-align: left;
    margin-bottom: 20px;
}

/* NOTE */
.note {
    background: #ffe6e6;
    margin: 14px;
    padding: 12px;
    border-radius: 10px;
    color: #c43;
    font-size: 14px;
    text-align: center;
}

/* BUTTON */
.btn {
    background: white;
    color: #1e6ae1;
    margin: 14px;
    padding: 14px;
    border-radius: 28px;
    border: 1px solid #1e6ae1;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
}

/* QR */
.qr {
    display: flex;
    justify-content: center;
    background: rgb(241, 240, 240);
     margin-bottom: 10px;
}

.qr img {
    width: 240px;
   
}

/* INFO */
.info {
    background: white;
    padding: 16px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.info h3 {
    margin-bottom: 10px;
    font-size:14px;
}

.info p {
    margin: 8px 0;
    font-size: 12px;
    color: #444;
}